* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbe3d1;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
  flex-wrap: wrap;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #640000;
  color: white;
  padding: 20px;
}
.navbar .uli ul {
  list-style: none;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #640000;
  max-height: 0;
  width: 200px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.navbar .uli ul.show {
  max-height: 300px; /* Adjust as needed */
}

.navbar .uli ul li {
  padding: 2rem;
  display: block;
}
.navbar .uli ul li a {
  color: #fbe3d1;
  text-decoration: none;
}
.navbar .enugu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uli button {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  background-color: #640000;
  border: none;
}

#Profile {
  background-color: #fbe3d1;
  padding: 10px;
  border: none;
   border-radius: 50px;
}
.intro {
  margin-top: 2rem;
}
.intro.Dshow {
  display: none;
}
.intro form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
input.error {
  border: 1px solid red;
}
.intro h1 {
  text-align: center;
  padding: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.intro form label {
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}
.intro form .item2 #Dep {
  width: 280px;
}
.intro form .btn {
  padding: 0.8rem 3rem;
  background-color: #2ecc40;
  color: #fbe3d1;
  border: 1px solid #fbe3d1;
  border-radius: 99px;
}
.header1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 8px #640000;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#head {
  font-family: "Outfit", sans-serif;
  text-transform: capitalize;
  color: #fbe3d1;
  text-align: center;
  font-size: 2rem;
}
img {
  width: 5%;
}
span {
  font-family: "Outfit", sans-serif;
  color: #032b44;
  text-decoration: underline;
}
.display {
  display: none;
  margin-top: 5rem;
}
header.show {
  display: block;
}
header.Dshow {
  display: none;
}
h4 {
  font-size: 25px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #640000;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container1 {
  height: auto;
  border: 2px solid #fbe3d1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fbe3d1;
}
.frm1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
input {
  padding: 8px;
  outline: none;
  border: 1px solid;
  border-radius: 0.2rem;
}
select {
  padding: 8px;
  outline: none;
  border: none;
}
#course-code {
  padding: 5px;
  font-size: 20px;
}

#course-Unit {
  padding: 5px;
  font-size: 20px;
}

#course-grade {
  padding: 5px;
  font-size: 20px;
}
.container2 {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 2rem;
}
.container2 .btn1 {
  padding: 0.8rem 3rem;
  background-color: #2ecc40;
  color: #fbe3d1;
  border: 1px solid #fbe3d1;
  border-radius: 99px;
}

.container2 .btn2 {
  background-color: #e74c3c;
  color: #fbe3d1;
  border: 1px solid #fbe3d1;
  border-radius: 99px;
  padding: 0.8rem 3rem;
}

.btn3 {
  display: block;
  margin: 10px auto;
  padding: 0.8rem 3rem;
  background-color: #640000;
  color: white;
  border: none;
  max-width: 20%;
  border-radius: 99px;
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.btn3.Dshow {
  display: none;
}

table {
  max-width: 90%;
  border-collapse: collapse;
  margin: 2rem auto;
  padding: 20px;
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
th {
  font-size: 24px;
  background-color: #640000;
  color: #fbe3d1;
  height: 70px;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
}
td {
  font-size: 20px;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
  text-align: center;
}
.header2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #640000;
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
main {
  display: none;
}
.main {
  display: none;
}
.show {
  display: block;
}

@media (max-width: 768px) {
  .navbar{
     padding: 20px 5px;
  }
  .navbar #head {
    font-size: 0.8rem;
    width: 200px;
  }
  .navbar .uli ul {
    top: 60px;
    width: 100%;
  }

  .navbar .uli ul li {
    padding: 1rem;
  }

  .navbar .uli ul.show {
    max-height: 200px; /* Adjust as needed */
  }

  .intro form {
    gap: 1rem;
    margin-top: 1rem;
  }
  .intro h1 {
    font-size: 1.2rem;
  }
  .intro .item1 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .intro .item2 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .intro form label {
    font-size: 16px;
    margin-top: 0.5rem;
  }

  .intro form .item2 #Dep {
    width: 100%;
  }

  .intro form .btn {
    padding: 0.5rem 1.5rem;
  }

  .header1 {
    font-size: 24px;
  }

  img {
    width: 15%;
  }
  .display {
    margin-top: 2rem;
  }

  h4 {
    font-size: 20px;
  }

  .container1 {
    width: 100%;
    padding: 10px;
  }

  .frm1 {
    flex-direction: column;
  }
.course-grade{
  display: flex;
  flex-direction: column;
  width: 100%;

}
select{
  width: 50%;

}
  .container2 {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .btn3 {
    max-width: 50%;
  }

  table {
    width: 100%;
  }
  th {
    font-size: 10px;
    width: 35%;
    text-transform: uppercase;
  }

  .header2 {
    font-size: 20px;
    width: 100%;
  }
}
